.parallax-bg-japan { 
    /* The image used */
    background-image: url("../japan_50.jpg");

    /* Set a specific height */
    height: 160vh; 
    padding-top: 35vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* cover or center work well */
    background-size: cover;
}

.parallax-bg-glacier { 
    /* The image used */
    background-image: url("../glacier.jpg");

    /* Set a specific height */
    height: 240vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* cover or center work well */
    background-size: cover;
}

.parallax-curtain {
	/* background color */
	background: rgba(255, 255, 255, 0.5);
	position: relative;
	height: 40vh;
}

.parallax-curtain-project {
	/*margin-top: 10vh;
	margin-bottom: 10vh;*/
	position: relative;
	height: 40vh;
}

.projectRed {
	background: rgba(217, 83, 79, 0.5);
}

.projectLightBlue {
	background: rgba(91, 192, 222, 0.5);
}

.projectBlue {
	background: rgba(66, 139, 202, 0.5);
}

.projectGreen {
	background: rgba(92, 184, 92, 0.5);
}

.parallax-curtain-transparent {
	/* background color */
	background: rgba(255, 255, 255, 0.0);
	height: 15vh;
	/* padding bottom to push up into parent parallax container */
	margin-bottom: 10vh;
	padding-top: 5vh;
	text-align: center;
}

.parallax-curtain-transparent-top {
	/* background color */
	background: rgba(255, 255, 255, 0.5);
	height: 7vh;
	/* padding bottom to push up into parent parallax container */
	position: relative;
	bottom: 0px;
	text-align: center;
}

.block-text {
	font-size: 32px;
	color: white;
	font-weight: 750;
	font-variant: small-caps;
}

.gh-button {
	position: absolute;
	left: 10%;
	bottom: 25%;
	width: 80%;
	font-variant: small-caps;
}

.hr-button {
	position: absolute;
	left: 10%;
	bottom: 10%;
	width: 80%;
	font-variant: small-caps;
}

.curtain-text {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	text-align: center;
	color: black;
	font-size: 16px;
	font-weight: 500;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: rgb(249,249,249);
    color: black;
    text-align: center;
}

.footer-text-thin {
	bottom: 60%;
	font-size: 12px;
	font-weight: 200;
}

.footer-text {
	bottom: 60%;
	font-size: 12px;
	font-weight: 450;
	font-variant: small-caps;
}

.footer-icon-spacing {
	margin-left: 3px;
	margin-right: 3px;
}

.pdf {
	position: relative;
	left: 10%;
}

.active {
	text-decoration: underline;
	font-weight: 450;
}